#header
  - if logged_in? 
    ="Willkommen"
    =current_user.username
    %p
      ="Falscher Nutzer ?" 
      =link_to "Neu Anmelden", logout_path
  -else 
    ="Willkommen auf Somewear.it."
    =link_to "Registrieren", signup_path 
    ="oder"
    =link_to "Anmelden", login_path
  %p
    =link_to "RSS Feed", posts_url(:format => :rss) 
    =link_to "ATOM Feed", posts_url(:format => :atom) 